body {background-color: rgb(33, 33, 34);}

body{color: aliceblue;}

a {
    color: rgb(1, 200, 250);
}


body {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color:rgb(21, 22, 22);
}
