body {background-color: rgb(47,49,54);}

body{color: aliceblue;}



body {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}


a  {
    color: rgb(11, 167, 245);
}

.embed{
    background-color: rgb(88, 101, 242);
    color: ivory;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;

}

.redembed{
background-color: rgb(237,66,69);
    color: ivory;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}



div  {
    background-color: rgb(45, 47, 53);
    color: rgb(186, 184, 184);
}





ul.dropdown-menu {
    background-color: rgb(47,49,54);
    color: #ffffff;
}

.dropdown-menu li a {
    color: white;
}



